.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aboutContentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
}

.button {
    background-color: #4c617c;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    width: 600px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}