.reviewsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    min-width: 70%;
}

.reviewsContentBodyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    border-bottom: rgb(228, 228, 228) solid 0.5px;
    
}

.createReviewButton {
    align-self: center;
    color: white;
    background-color: rgb(79, 70, 229);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.reviewsContentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-height: 100vh;
}

h1 {
    font-size: 2.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 800px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.cards::-webkit-scrollbar{
    width: 5px;
}

.cards::-webkit-scrollbar-track{
    background: #f1f1f1;
}

.cards::-webkit-scrollbar-thumb{
    background: rgb(79, 70, 229);
    border-radius: 5px;
}
.card {
    width:  90%;
    height: 250px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    border-bottom: rgb(228, 228, 228) solid 0.5px;
    margin-bottom: 15px;
}

.card:last-child {
    border-bottom: none;
}

.card--content {
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.card--location {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.card--content--location {
    letter-spacing: 1.5px;
    width: fit-content;
    margin: 5px;
}

.card--content--title {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.card--content--author {
    font-size: 1.2rem;
    margin: 0px 0px 10px 0px;
}
.card--content--date {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.card--actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    background-color:  rgb(79, 70, 229);
    color: white;
}
