.ping {
    background-color: #003c8b;
    display: inline-block;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bold;
    height: fit-content;
    line-height: 20px;
    text-align: center;
    width: 200px;
}